<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>VKU - Error Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
	<link rel="shortcut icon" th:href="@{/images/iconlogo.png}" />

</head>

<body>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h1 class="card-title">Error</h1>
						<p class="card-text" th:text="${error}"></p>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>